In [ ]:
a=19
b=17
if(a>18)and(b>18):
 print("Let them in")
elif a>18 and b<18:
 print("let person a be in")
elif a<18 and b>18:
 print("let person b be in")
else:
 print("Dont let them in")

In [ ]:
tup_var=('a','b',1,2,0,3)
print(tup_var)
print(type(tup_var))

In [ ]:
tup_var=('a','b',1,2,3,[1,2,3],(1,2))
print(tup_var)
type(list(tup_var))
tp=list(tup_var)
print(tp)

In [ ]:
dict_type={1 ,2 ,3}
print(dict_type)
print(type(dict_type))

In [ ]:
lst_man=[1,2,2,2,3,3,5,8,9,9]
print(lst_man)
result=set(lst_man)
tp=list(result)
print(result)

In [ ]:
lst_mn=[1,2,3,4,5,6,7,]
print("The number of items in the list are:",len(lst_mn))
print("The greatest number in the list is:",max(lst_mn))
print("sum of all elements in the list is:",sum(lst_mn))

In [ ]:
a=1
while a<100:
    a=a+1
print("loop complete:",a)

In [ ]:
a=1
for elem in lst_var:
    a+=1
print(a)

In [ ]:
lst_var=['Delhi','banglore','chennai','mumbai','kochin']
if 'Delhi' in lst_var:
    print("yes it is there")
else:
    print("not in the list")

In [ ]:
lst_var=[23,45,67,89,91,41,89,79,25,67]
print(list(sorted(lst_var,reverse=True)))
lst_var.sort()

In [ ]:
print(lst_var)

In [ ]:
allowed_input=[1,2,3,4,6,'w','wd','n']

In [ ]:
input=1

In [ ]:
input=2

In [ ]:
x=8
x='hello'
print(x)

In [ ]:
x=1
print(x)

In [ ]:
mani=[1,2]

In [ ]:
mani

In [ ]:
y=2
x,y

In [ ]:
5+6

In [ ]:
11111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111+999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999

In [ ]:
10//3

In [ ]:
10$3

In [ ]:
10%3

In [ ]:
list=[1]

In [ ]:
print(list)

In [ ]:
mn='hello'
print(mn)

In [ ]:
mn=["12"]
print(mn)

In [ ]:
a="mn"
print(a)

In [ ]:
m=5
n=7
m,n

In [ ]:
m+n

In [ ]:
m/n

In [ ]:
5//5

In [ ]:
5%5

In [ ]:
m==6

In [ ]:
m==9,n==5

In [ ]:
true+flase

In [ ]:
True+False

In [ ]:
m!=6

In [ ]:
mn=False
mn+1

In [ ]:
x=22
a=0
b=1
c=2
if x<25:
    a=0
    b=100
a,b

In [ ]:
a=str(1)
print(type(a))

In [ ]:
neel=5
if neel>1:
    result=5
else:
    result=7
result

In [ ]:
mnn=0
if mnn>0:
    result='yes'
elif mnn<0:
    result='nnn'
else:
    reslt='no'
result

In [ ]:
po=5.1
if po>=5:
    if po<6:
        bm="np"
else:
    bm="uj"
bm

In [ ]:
5%5

In [ ]:
5//4

In [ ]:
a=1
b=5
if a+b>6:
    print("true")
else:
    print("false")

In [ ]:
mn=[1,2,3,4,5,6,7,8]
mn[0:5:3]

In [ ]:
mn[1]

In [ ]:
mn[:]

In [ ]:
jui=12
jui

In [ ]:
print(id(jui))

In [ ]:
input()

In [ ]:
ip=input()

In [ ]:
print(ip)

In [ ]:
print(type(ip))

In [ ]:
mn=input()

In [ ]:
print(int(mn))

In [ ]:
a=[5]
a.append("mani")
print(a)

In [ ]:
ftu=[12,"man",'nj']
print(type(ftu))
nij=('mn',ftu)
print(nij)

In [ ]:
adt={'mn','nu','nu','mn','ju',52}
adt

In [ ]:
marks={"A":92,"B":52,"C":25}
marks["A"]

In [ ]:
age=int(input("Please enter your age"))
if age>=5:
    print("he is greater than 18")
else:
    print("not greater than 18")

In [ ]:
a="0"
print(type(a))
a=int(a)
print(type(a))

In [ ]:
name=input("Please enter your name")
age=input("Enter your age")
print(name,age)
print(name,age,sep="##")
print(name,age,sep="##",end="&&")
print("we are done")

In [ ]:
marks=33
print(type(marks))
print(marks)
marks=float(marks)
print(type(marks))
print(marks)

In [ ]:
mark=[1,2,3,3,3,4,5]
print(type(mark))
print(mark)
mark=set(mark)
print(type(mark))
print(mark)

In [ ]:
5**2

In [ ]:
25**4

In [ ]:
print(25*4)

In [ ]:
print(25**4)

In [ ]:
(25*4)/4-5

In [ ]:
25*4/8//9-8

In [ ]:
8/4

In [ ]:
9%5

In [ ]:
25//4

In [ ]:
25/4

In [ ]:
20//3

In [ ]:
a=5
a+=1

In [ ]:
a=18
t=8
print(not a>18)

r=19
print(not((a>=18 and r>=19)or t>15))

In [ ]:
d=5
n=5
d!=n

In [ ]:
j=[1,2,3,4,5]
if 2 in j:
    print("yes")
else:
    print("no")

In [ ]:
i=input("what Happend?")
allowed_input=['1','2','3','4','6','wd','wkt']
valid_ip=False

if i in allowed_input:
    if i=='1':
        print("only one run")
    elif i=='2':
         print("runner for 2 runs")
elif i in allowed_input=='3':
    print("hurray its three runs")
elif i in allowed_input=='4':
    print("its a four on the board")
elif i in allowed_input=='6':
    print("its a sixer")
elif i in allowed_input=='wd':
    print("its a wide")
elif i in allowed_input=='wkt':
    print("its a wicket")
else:
    pass

In [ ]:
ma="this.is.september"
ma.split(".")

In [ ]:
lst=[1,2,3,4,5]
lst[:-2]
lst[2:4]

In [ ]:
frame="date_job_09022022.txt"
frame[:-4:-1]

In [ ]:

yu=['1','2','3','4','6','wd','wk','no']
valid_ip=False
while not valid_ip:
     ru=input("give prompt")
        if ru in yu:
        valid_ip=True
        if ru=='1':
        print("it is one")
        if ru=='2':
        print("it is two")
    if ru=='3':
        print("It is a fucking three")
    if ru=='4':
        print("it is a boundary ball")
    if ru=='6':
        print("It is a fucking six")
    if ru=='wd':
        print("it is a wide")
    if ru=='no':
        print("it is a nnooooo ball")

In [ ]:
print("The number of elements in yu:",len(yu))

In [ ]:
print("the greates number in the list:",max(yu))

In [ ]:
a=input("1st side of triangle")
b=input("2nd side of triangle")
c=input("3rd side of triangle")
if a==b==c:
    print("It is a equilateral traingle")
elif a==b or b==c or c==a:
    print("It is isoscles triangle")
else:
    print("It is a scalene triangle")
def right_angled(a, b, c):
    if (a*a+b*b==c*c) or (c*c+b*b==a*a) or (a*a+c*c==b*b) :
        return "The triangle is right-angled." 
    else:
        return "The triangle is not right-angled."

In [ ]:
n=int(input("Enter a Number"))
if n%2!=0:
    print("Weird")
elif n%2==0 and n>20:
    print("Not Weird")
elif n%2!=0 and 2<=n<=5:
    print("Not Weird")
else:
    print("Not Weird")

In [ ]:
x=200
print(x)
y=100
y+=5
print(x*y)

In [ ]:
v1="pikachu"
v0="pichu"
v2="Richu"
for v in v1:
    print(v)

In [ ]:
pokelist=["1","2","jigglipuff",25,46]
for poke in pokelist:
    if poke=="1":
        print("found")
    else:
        continue

In [ ]:
l1=["pikachu_10","mnyy","gsjg"]
v1="pikachu_1"
print(v1[:3])
print(l1[1])
print(l1[0])
print(l1[-1])

In [ ]:
v1="pikachu"
print(v1[-3:])

In [ ]:
a=input()
b=input()
mn=[]
for i in b:
    mn.append(i)
ch=[a[0],a[-1]]
if ch in mn:
  print("True")
else:
  print("false")

mani
neeluri
false

## STring Slicing

In [ ]:
Neel=["bulb_21","coocoo_54","sqitele_42","charmoder_29","fooodon_58"]
for am in Neel:
    th=am.startswith('bu')
    print(th)

In [ ]:
mab = ['apple', 'Apricot', 'banner','dfj','jydfjy']
ny=[]
for i in mab[::2]:
    ny.append(i)
print(ny
     )

In [ ]:
a=input()
b=input()
c=(a==b)
b=(a<=b)
print(c)
print(b)
print(c and b)

In [ ]:
S="Python is a Programming language"
a=input()
b=input()
c=input()
if a in S:
    print("True")
else:
    print("False")
if b in S:
    print("True")
else:
    print("False")
if c in S:
    print("True")
else:
    print("False")

In [ ]:
a=str(input())
b=str(input())
d=(a==b)
print(str(a)+" is "+str(b)+"=",c)

In [ ]:
s1=["Raichu","pikachu","muk","bulbasur","charizad","gengar"]
print(s1[::4
    ])
print(s1[::-1])

In [ ]:
s2="sBS"
s2[0]
s2[::-1]

In [ ]:
s1="Sahib[123]"
s1[::-1]

In [ ]:
print(type(s1))

In [ ]:
s1="pikachu"
s1=list(s1)
s1[0]="z"
s1="".join(s1)
print(s1[::-1])
s2=

In [ ]:
s1=["bob","Jacob","Rob"]

In [ ]:
o=[[1,2,3],[61,62,69]]
print(len(o))
for a in o:
    for b in a:
        if b==3 or b==69:
            print(b)

In [ ]:
nk=[["Jenny","Tom","mickey"],["mouse","rat","dog","ghtyu"]]
for i in nk:
    for a in i:
        if a=="Tom" or a=="rat":
            print(a[::-1])
        elif a=="dog":
            print(a*2)

In [ ]:
z='satin'
print(''.join(list(z)[::-1]))

In [ ]:
w=set([1,2,3,3,4,4,5,6])
print(w)
print(type(w))

In [ ]:
f=set(['A','B','C'])
s2=set([1,2,'A','B'])
print(f|s2)
print(f&s2)
print(f-s2)
print(type(f))

In [ ]:
un=['Dhoni','Chris Crayle','Kohli','AB de villiers','Yash','Steve Smith','Dhoni','Chris','Kohli']
lit={'Kohli':23,'Dhoni':7,'Steve Smith':89}
for i,k in zip(list.keys(),list.values()):
    print(i,k)
print(list.keys())
print(type(list.keys()))
print(list.values())
print(type(list.values()))

In [ ]:
ls=['Dhoni','Kohli','Chris','Ab de villiers,Yash','Steve Smith','Dhoni','Sushanth','Kohli']
for i in ls[::-1][::-1][::-1][:4:3]:
    print(i)
ls1=[]
ls=list(set(ls))
dc1={'Kohli':23,'Dhoni':7,'Steve Smith':89}
for i in ls:
    if i=='Kohli' or i=='Steve Smith':
        ls1.append(dc1[i])
print(ls1)

In [ ]:
ls2=[100,'600$',23,'Monday']
for j,i in enumerate (ls2):
    print(j+1,i)

In [ ]:
s1='I Like Coffee'
k2=[]
for i in list(s1):
    if i!=' ':
        i.append(k1)
        print(' '.join(k2))

In [ ]:
dc1={'Kohli':23,'Dhoni':7,'Steve':89}
ls_keys=[]
ls_values=[]
for i,j in dc1.items():
    ls_keys.append(j)
    ls_values.append(i)
    dc1_rev={}
for i,j in zip(ls_keys,ls_values):
    dc1_rev[i]=j

In [ ]:
s={"Kohli":0,"D":1,"st":3,"kane":6,"v":8}
b=[]
c=[]
for i in s.values():
    b.append(i)
print(sum(b[::2]))

In [ ]:
s1={"kohli":23,"dhoni":69,"kane":68,"jacob":98}
b=[]
c=[]
s2={23:46,69:138,68:136,98:196}
for i in s1.values():
    for j in s2.keys():
            if i==j:
                b.append(s2[j])
print(b[::-2])

In [ ]:
l1=[1,2,3,4]
l2=[10,20,30,40]
for i in l1:
    print(i)
    for j in l2:
        print(j)

In [ ]:
ls=[[{"cope":23,"town":46,"john":59},{"a":2,"b":4,"c":3}]]
a=[]
b=[]
k=ls[0]
i=k[0]
g=k[1]
for f in i.values():
    a.append(f)
for r in g.values():
    a.append(r)
print(a)

In [ ]:
ls={"Late":[1,2,3,4,5,6],"John":[{"a":56,"b":[1,2,3,4]}],"Ron":[1]}
a=[]
c=[]
for i in ls.values():
    a.append(i)
print(a)
for g in a:
    for k in g:
        if type(k)==dict:
            for a,b in k.items():
                if type(b)==list:
                    .append(b)
                    print(a)

In [ ]:
ls=[1,2,3,4,5,6]
ls2=[4,5,6,12]
def was():
    for i in ls:
        print(i)
was()

In [ ]:
a=72
b=98
print(a,"\n","\t",b,"\n",a)

In [ ]:
ls=[1,2,3]
def mn(ls):
    return(sum(ls))
a=sum(ls)
print("Sum of numbers",a)

In [ ]:
d={"a":98,"b":2}
def man():
    a=[]
    for i in d.values():
        a.append(i)
    return(sum(a))
man()

In [ ]:
a="Jackson"
b="Kate"
d="1"
e="23"
def amr(a,b):
    c=a+b
    f=d+e
    return c[::-1],f[::-1]
amr(a,b)

In [ ]:
a=15
b=5
def bhi(a,b):
    c=a+b
    d=a//b
    return c,d
bhi(a,b)

In [ ]:
c={"a":[2,3,1],"b":[21,31,0]}
def mn():
    for i in c.values():
        b=[]
        b.append(i)
        d=b[0]
        f=b[1]
        return sum(d),sum(f)
mn(c)

In [ ]:
c={"a":[2,3,1],"b":[21,31,0]}
def s(ks):
    return sum(ks[:2])
for i in c.values():
    print(s(i))

In [ ]:
def div():
    mn=[]
    for i in range(0,101):
        if i%5==0:
            mn.append(i)
        return
div()

In [ ]:
mn=[]
for i in range(0,101):
        if i%5==0:
            mn.append(i)
print(mn)

In [ ]:
result = [i for i in range(1,3+1) ]
print([result]*3)

In [ ]:
la_1=['Doreamon','Shin-Chan','oggy','Hagemar','Beyblade','Potman']
def la(a):
    mn=[]
    for i in a:
        if i=="Bayblade":
            break
        mn.append(i[-3:])
    return mn
la(la_1)

In [ ]:
a="[{'Sahib':12}]"
import ast
a=ast.literal_eval(a)
print(type(a))
print(type(a[0]))
print(a[0])

In [ ]:
import turtle

s=turtle.Turtle()
for i in range(200):
    s.forward(270)
    s.right(4)
    s.left(90)
turtle.done()

In [ ]:
jul=["Jerry","Katty","['tom']"]
for i in jul:
    print(i)
    for j in i:
        if j==list:
            print(j)

In [ ]:
gif={"PS4":28000,"Diary Milk":100,"iphone":80000,"Bluetooth":1500,"Laptop":100000}
def gift(d):
    a=int(input("ENter your age"))
    if a>18:
        print("You are eligible to vote")
        b=input("Please enter your gift")
        c=gif[b]
        if (b,c) in d.items():
            
            print("Your gift will be delivered and it costs you around:",c)
        else:
            print("invalid")
    else:
        print("not eligible")
    return gift(gif)
gift(gif)

In [ ]:
a=input("please enter length")
b=input("please enter breadth")
a=int(a)
b=int(b)
def area(a,b):
    c=a*b
    d=2*(a+b)
    print("area is:",c)
    print("perimeter is:",d)
    def table(c): 
        if c>500:
            for i in range(1,11):
                print(a,"x",i,"=",a*i)
            for f in range(a*10,a*20,a+1):
                print(f)
        elif c<500:
            for g in range(1,11):
                print(b,"x",g,"=",b*g)
            
            
    table(c)
area(a,b)

In [ ]:
a=[[[{"jack":20,"sparrow":60}],[{"boys":60,"bunny":30}],[[3600,-3600]]]]
mn=[]
n=[]
for i in a:
        for j in i:
            for k in j:
                if type(k)==list:
                    mn.append(k)
                if type(k)==dict:
                    mn.append(k.values())
    
b=sum(mn[0])
n.append(b)
c=sum(mn[1])
n.append(c) 
d=sum(mn[2])
n.append(d)
print(n)

In [ ]:
a={"Flowers":[2,200],"Skincare":[3,3000],"Electronics":[2,500],"Clothes":[3,4500]}
a["JAvvaji"]=20
print(a)
b=input("ITEM ENTRY??")
mn=a[b]
t=mn[0]
g=mn[1]
f=g/t
c=input("Command")
if c=="Decrease the price":
    if b=="Clothes":
        f=f-100
        print("100 rupees off and the final price is",f)
        d=input("Please enter your gender")
        if d=="Girl":
            
            print("you ar eentitled for extra off of 60%",f+0.6*f)
        elif d=="boy":
            print("")
else:
    print(f)

In [ ]:
a={"Flowers":[2,200],"Skincare":[3,3000],"Electronics":[2,500],"Clothes":[3,4500]}
a["JAvvaji"]=20
print

{'Flowers': [2, 200], 'Skincare': [3, 3000], 'Electronics': [2, 500], 'Clothes': [3, 4500], 'JAvvaji': 20}

In [ ]:
import numpy as np
a=np.array([1,2,3,4])
b=[1,2,3,4]
a1=np.array([[1,2,3,4]])
a1=a1
b=np.array([[1,2,3,4],[5,6,7,8]])
b1=b.T.T[0,:2]
a2=np.array([[1,2,3,4,5]])
a3=np.array([[[1,2,3,4],[1,221,21]]])
print(a2.shape)
print(a3.shape)

(1, 5)
(1, 2)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  if __name__ == '__main__':

In [3]:
def age_maker( age):
  if age>18:
    return "eligible for voting"
  else:
    return "not"
age_maker( 22)

def phone_maker(ph):
  ph=str(ph)
  if ph[0]==8:
    return "starts with 8"
  else:
    return "not starts with 8"
    

def python_maker(p_marks):
  if p_marks>50:
    return "pass"
  else:
    return "fail"

In [1]:
class lpu_student:
  def details(self):
  #def __init__(self,age,ph,p_marks):
    #self.age=age
    #self.ph=ph
    #self.p_marks=p_marks
    def age_maker( age):
      if age>18:
        return "eligible for voting"
      else:
        return "not"
    def phone_maker(ph):
      ph=str(ph)
      if ph[0]==8:
        return "starts with 8"
      else:
        return "not starts with 8"

    def python_maker(p_marks):
      if p_marks>50:
        return "pass"
      else:
        return "fail"   
mounik=lpu_student(self,age)
mounik.age_maker()

NameError: name 'self' is not defined

In [4]:
print("helo world")

helo world

In [1]:
class LPU_students:
  def details(self):
  #def _init_(self,age,ph,p_marks):
    #self.age=age
    #self.ph=ph
    #self.ph_marks=p_marks
    def age_maker(age):
      if age>18:
        return "eligible for voting"
      else:
        return "Not eligible"

    def phone_maker(ph):
      ph=str(ph)
      if ph[0]==8:
        return "starts with 8"
      else:
        return "not starts with 8" 

    def python_maker(p_marks):
      if p_marks>=50:
        return "passed"
      else:
        return "Failed"
tharun=LPU_students()
sharan=LPU_students()        
varun=LPU_students()
varun.phone_maker=6303862324
varun.age_maker=23

In [2]:
class Ipl:
  def avg(self,runs,balls):
    return runs/balls
moris=Ipl()    
moris.avg(2,6)

TypeError: avg() takes 3 positional arguments but 4 were given

In [5]:
class city:
  def start(self,c):
    if c[0]=="A":
      return "yes"
    else:
     return "Not Starts with A"
  def food(self,c):
    a={"Alwar":"milkcake","Kochi":"porotta","Hyderabad":"Biryani","Agra":"Petha"}
    return dict(c)



Agra=city()
Kochi=city()
Hyderabad=city()
Agra=city()
Agra.start("Agra")

IndentationError: expected an indented block (2597964311.py, line 2)

In [ ]:
class city:
  def start(self,s):
    if s[0]=="a":
      return "yes"
  def city_name(self,dish):
    k={"alwar":"mikcake","kochi":"porotta","hyb":"biryani","agra":"petha"}
    return k[dish]
  def city_direction(self,dir):
    l={"kochi":"sw","hyb":"se","alwar":"nw","agra":"ne"}
    return l[dir] 
alwar=city()
print(alwar.start("alwal"))
print(alwar.city_name("alwar"))
print(alwar.city_direction("alwar"))